body {
    margin: 0;
    padding: 0;
    color-scheme: dark;
}


.conteiner {
    text-align: center;
    font-style: normal;
    background-color: rgb(255, 255, 255);
 
 
}

.conteiner1 {
    font-style: normal;
    text-align: center;
    background-color: rgb(232, 232, 232);
}

.nav-conteiner {
    display: flex;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding: 30px;
    margin: 0;
    border-width: 5px;
    

}

.nav-conteiner>nav>ul {
    display: flex;
    margin: 10px;
    padding: 10px;
    list-style: none;
    border-width: 0.5px; 
    background-color: black;
    border-bottom-style: solid ;
    border-style: solid;
    color: black;
    
}


.nav-conteiner>nav>ul>li {
    display: flex;
    align-items: center;
    list-style: none; 

}



@media (max-width: 900px) {
.nav-conteiner {
flex-direction: column;
}
}

.img1 {
   float: left; 
right: 50px;
width: 50px;

}
.slide-text,
.footer-text {
    color: rgb(255, 255, 255);
    margin-top: 3000px;
    background-color: black;
    height: 200px;
    padding: 50px;
}


.nav-conteiner a:hover {
background-color: darkgrey;
text-decoration: none;
}
 

.nav-conteiner>nav>ul>li>a {
text-decoration: none;
padding: 10px;
border-width: 0.5px;
display: block;
margin: 10px;
}
